html,
body {
  margin: 0;
  padding: 0;
  min-width: 960px;
}

body {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  font-family: "PT Sans", "Arial", sans-serif;
  color: #000000;

  background-color: #ffffff;
}

.sprite {
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  display: block;
}

.sprite-delivery {
  width: 78px;
  height: 63px;
  background-position: -10px -10px;
}

.sprite-discount {
  width: 59px;
  height: 72px;
  background-position: -10px -93px;
}

.sprite-flag-new {
  width: 60px;
  height: 59px;
  background-position: -10px -185px;
}

.sprite-materials {
  width: 44px;
  height: 65px;
  background-position: -10px -264px;
}

.sprite-services-shadow {
  width: 10px;
  height: 272px;
  background-position: -10px -349px;
}

.sprite-technology {
  width: 78px;
  height: 62px;
  background-position: -10px -641px;
}

.sprite-tool {
  width: 75px;
  height: 61px;
  background-position: -10px -723px;
}

@font-face {
  font-weight: normal;
  font-style: normal;

  font-family: "symbols-technomart";
  src: url("../fonts/symbols-technomart.woff") format("woff"),
       url("../fonts/symbols-technomart.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
  display: inline-block;
  vertical-align: top;
  width: 1em;
  margin-right: 0.2em;
  margin-left: 0.2em;

  font-weight: normal;
  line-height: 1em;
  font-family: "symbols-technomart";
  text-align: center;
  text-transform: none;
  text-decoration: inherit;
  font-style: normal;
  font-variant: normal;

  speak: none;
}

.icon-left::before { content: "\3c"; } /* "&lt;" */
.icon-right::before { content: "\3e"; } /* "&gt;" */
.icon-basket::before { content: "\62"; } /* "b" */
.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-vk::before { content: "\76"; } /* "v" */
.icon-up::before { content: "\2c4"; } /* "˄" */
.icon-down::before { content: "\2c5"; } /* "˅" */
.icon-left-big::before { content: "\2190"; } /* "←" */
.icon-right-big::before { content: "\2192"; } /* "→" */
.icon-login::before { content: "\2386"; } /* "⎆" */
.icon-logout::before { content: "\241b"; } /* "␛" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-circle::before { content: "\25cb"; } /* "○" */
.icon-circle-dot::before { content: "\25cf"; } /* "●" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-youtube::before { content: "\f39e"; } /* "" */
.icon-home::before { content: "🏠"; } /* "\1f3e0" */
.icon-user::before { content: "👨"; } /* "\1f468" */
.icon-phone::before { content: "📞"; } /* "\1f4de" */
.icon-instagramm::before { content: "📷"; } /* "\1f4f7" */
.icon-search::before { content: "🔍"; } /* "\1f50d" */
.icon-bookmark::before { content: "🔖"; } /* "\1f516" */

h2 {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  background-color: #f1f5f7;
  color: #000000;
}

.main-header-index {
  margin-bottom: 60px;
}

.header-top-bar {
  background-color: #293449;
  color: #ffffff;
}

.logo {
  float: left;
  width: 220px;
  box-sizing: border-box;
  background-color: #ee3643;

  font-weight: 400;
  font-family: "Cuprum", "Arial", sans-serif;
  color: #ffffff;
  text-transform: uppercase;

  box-shadow: 0 5px 0 0 #b52933;
}

.main-header .logo-index,
.main-header .logo-catalog {
  margin: 0;
  padding: 9px 10px;

  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

.main-header .logo-index {
  font-weight: 400;
}

.main-header .logo-catalog {
  display: block;
  text-decoration: none;
  outline: none;
  font-family: "Cuprum", "Arial", sans-serif;
  color: inherit;
}

.main-header .logo:hover {
  background-color: #ca2c37;
  box-shadow: 0 5px 0 0 #9a212a;
}

.main-header .logo:active {
  background-color: #ba2732;
  box-shadow: 0 5px 0 0 #8e1e26;
}

.form-search {
  box-sizing: border-box;
  float: left;
  width: 270px;

  position: relative;
  font-size: 0;
}

.icon-search::before {
  top: 12px;
  left: 14px;
  content: "\1f50d";
}

.search {
  box-sizing: border-box;
  width: 100%;

  padding: 12px 10px;
  padding-left: 46px;
  background-color: transparent;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: inherit;
  border: none;
  outline: none;
}

/* для IE */
.search {
	padding-top: 11px\0;
  padding-bottom: 11px\0;
}

.search:focus {
  background-color: #ffffff;
  color: #000000;
}

.search:focus ~ label::before {
  color: #ee3643;
  opacity: 1;
}

.search::-webkit-input-placeholder {
  color: #ffffff;
  opacity: 1;
}

.search::-moz-placeholder {
  color: #ffffff;
  opacity: 1;
}

.additional-menu {
  float: right;
  width: 450px;

  margin: 0;
  padding: 0;

  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 0;
}

.additional-menu li {
  display: inline-block;
  vertical-align: top;

  font-size: 17px;
  line-height: 18px;
}

.additional-menu a
 {
  display: block;
  padding: 12px 21px;

  color: inherit;
  text-decoration: none;
}

.item-menu-full {
  background-color: #ee3643;
  color: #ffffff;
}

.icon-item::before {
  font-family: "symbols-technomart";
  font-size: 17px;
  line-height: 18px;
  position: absolute;
  color: #ffffff;
  opacity: 0.3;
}

.bookmarks a {
  box-sizing: border-box;
  padding-left: 43px;
  padding-right: 10px;
  min-width: 150px;

  position: relative;
}

.bookmarks a::before {
  left: 14px;
  content: "\1f516";
}

.cart a {
  box-sizing: border-box;
  padding-left: 48px;
  padding-right: 10px;
  min-width: 150px;

  position: relative;
}

.cart a::before {
  left: 12px;
  content: "\62";
}

.search::before {
  left: 17px;
  content: "\1f50d";
}

.order a {
  background-color: #63a63e;
}

.additional-menu a:hover {
  background-color: #212a3a;
  color: #ffffff;
}

.order a:hover {
  background-color: #5fbb2d;
}

.additional-menu .item-menu-full:hover {
  background-color: #ee3643;
  color: #ffffff;
}

.icon-item:hover::before {
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
}

.additional-menu a:active {
  background-color: #161d29;
  opacity: 0.6;
}

.order a:active {
  background-color: #518534;
  opacity: 0.6;
}

.additional-menu .item-menu-full:active {
  background-color: #ee3643;
  color: #ffffff;
}

.icon-item:active::before {
  opacity: 0.5;
}

.icon-search:active::before {
  color: #ee3643;
}

.shop-about {
  float: left;
  width: 300px;
  box-sizing: border-box;
  margin: 0;
  margin-right: 20px;
  padding: 48px 52px;
  padding-bottom: 40px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.shop-contacts {
  float: left;
  width: 300px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 0;
}

.shop-phone {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  margin-top: 45px;
  padding: 11px 50px;
  padding-left: 70px;
  border: 3px solid #ffffff;
  text-align: center;
  font-size: 21px;
  line-height: 18px;
  color: #e9292a;
}

.shop-phone::before {
  font-family: "symbols-technomart";
  font-size: 22px;
  line-height: 18px;
  position: absolute;
  color: #b7bfc8;
  top: 12px;
  left: 14px;
  content: "\1f4de";
}

.shop-adress {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 2px 10px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-block {
  float: right;
  width: 300px;
}

.user-block-sign-in,
.user-block-sign-out {
  margin: 0;
  margin-top: 46px;
  font-size: 0;
}

.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  font-family: "Cuprum", "Arial", sans-serif;
  background-color: #ee3643;
  color: #ffffff;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
}

.btn-user {
  margin-bottom: 4px;
  padding: 10px 0;
  background-color: #ffffff;
  color: #000000;
}

.btn-user-block {
  padding: 13px 24px;
  background-color: #ffffff;
  color: #000000;
  font-size: 21px;
  line-height: 18px;
  text-transform: none;
}

.btn-login {
  position: relative;
  margin-left: 20px;
  margin-right: 10px;
  padding-left: 46px;
}

.user-profile {
  position: relative;
  margin-right: 10px;
  padding: 0;
  padding-left: 46px;
}

.user-sign-out {
  position: relative;
  padding-left: 28px;
  padding-right: 10px;
}

.btn-login::before {
  font-size: 22px;
  color: #c5c5c5;
  opacity: 1;
  content: "\2386";
  left: 10px;
  top: 12px;
}

.user-profile::before {
  font-size: 18px;
  color: #c5c5c5;
  opacity: 1;
  content: "\1f468";
  left: 12px;
}

.user-sign-out::before {
  font-size: 22px;
  color: #c5c5c5;
  opacity: 1;
  content: "\241b";
  top: 4px;
  left: 28px;
}

.user-block a:hover::before {
  color: #32425c;
}

.user-info a {
  display: inline-block;
  vertical-align: top;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 16px;
  color: #32425c;
}

.user-info a:hover,
.user-block-sign-in a:hover {
  color: #ee3643;
}

.user-info a:active {
  color: #cacfd5;
}

.btn-user a:active,
.user-block-sign-in a:active {
  color: #cacaca;
}

.btn-user a:active::before,
.user-block-sign-in a:active::before {
  color: #c5c5c5;
  opacity: 1;
}

.my-orders {
  position: relative;
  padding-right: 20px;
  margin-left: 18px;
  margin-right: 12px;
}

.my-orders::after {
  position: absolute;
  top: 50%;
  right: 1px;
  margin-top: -2px;
  content: "";

  display: block;
  width: 4px;
  height: 5px;
  border-radius: 2px;

  background-color: #32425c;
}

.wrapper-header-bar {
  border-bottom: 1px solid transparent;
}

.main-navigation {
  margin-bottom: 64px;
  background-color: #32425c;
  color: #ffffff;
  box-shadow: 0 5px 0 0 #293449;
}

.main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 0;
  text-align: center;
}

.main-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 17px;
  line-height: 17px;
}

.main-navigation a
 {
  display: block;
  padding: 18px 30px;
  padding-top: 20px;
  color: inherit;
  text-decoration: none;
}

.main-navigation a:hover {
  background-color: #293449;
}

.main-navigation a:active {
  background-color: #1d2739;
  color: rgba(255, 255, 255, 0.5);
}

.promo {
  margin-bottom: 52px;
}

.promo .promo-row-top {
  margin-bottom: 20px;
}

.promo .promo-column {
  box-sizing: border-box;
  float: left;
  width: 300px;
  margin-right: 20px;
}

.promo .promo-slider {
  position: relative;
  width: 620px;
  height: 265px;
  background-color: #554939;
  color: #ffffff;
}

.promo-slider-controls {
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translate(-50%, 0);
  margin-left: 5px;
  z-index: 20;
  font-size: 0;
}

.promo-slider > input[type="radio"] {
  display: none;
}

.promo-slider-controls label {
  display: inline-block;
  vertical-align: top;
  width: 6px;
  height: 6px;
  margin-right: 10px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.promo-slider .btn-listing::before {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  content: "";
  display: block;
  box-sizing: border-box;
  width: 27px;
  height: 27px;
  border-top: 3px solid #ffffff;
  border-right: 3px solid #ffffff;
  z-index: 20;
}

.promo-slider .left::before {
  left: 30px;
  transform: rotate(225deg);
  cursor: pointer;
}

.promo-slider .right::before {
  right: 26px;
  transform: rotate(45deg);
  cursor: pointer;
}

.promo .promo-slide {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  width: 620px;
  height: 265px;
  z-index: 10;
}

#btn-promo-1:checked ~ .promo-slides .promo-slide:nth-child(1),
#btn-promo-2:checked ~ .promo-slides .promo-slide:nth-child(2) {
  display: block;
}

.promo-slides .promo-slide:nth-child(1) {
  background-color: #554939;
  background-image: url("../img/promo-slider-perforator.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #ffffff;
}

.promo-slides .promo-slide:nth-child(2) {
  background-color: #1f1412;
  background-image: url("../img/promo-slider-drill.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  color: #ffffff;
}

#btn-promo-1:checked ~ .promo-slider-controls label[for="btn-promo-1"],
#btn-promo-2:checked ~ .promo-slider-controls label[for="btn-promo-2"] {
  background-color: #ee3643;
}

.promo-slide-title {
  margin: 0;
  margin-bottom: 6px;
  padding-top: 25px;
  padding-left: 24px;

  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  text-transform: uppercase;
}

.promo-slide-info {
  margin: 0;
  margin-bottom: 102px;
  padding-left: 24px;
  height: 44px;
  font-size: 18px;
  line-height: 22px;
}

.promo .promo-column:last-child {
  margin-right: 0;
}

.promo .promo-item {
  position: relative;
  padding-right: 110px;
}

.promo .promo-item::after {
  position: absolute;
  content: "";
  top: 25%;
  right: 0;
  background: url("../img/sprite.png") no-repeat 0 0;
  z-index: 20;
}

.promo .materials {
  background-color: #f6b22d;
}

.promo .materials::after {
  right: 42px;
  width: 44px;
  height: 65px;
  background-position: -10px -264px;
}

.promo .tool {
  background-color: #4aafde;
}

.promo .tool::after {
  right: 28px;
  width: 75px;
  height: 61px;
  background-position: -10px -723px;
}

.promo .technology {
  background-color: #cc79d1;
}

.promo .technology::after {
  right: 31px;
  width: 78px;
  height: 62px;
  background-position: -10px -641px;
}

.promo .discount {
  margin-bottom: 20px;
  background-color: #85d179;
}

.promo .discount::after {
  right: 45px;
  margin-top: -4px;
  width: 59px;
  height: 72px;
  background-position: -10px -93px;
}

.promo .delivery {
  background-color: #f6b22d;
}

.promo .delivery::after {
  right: 31px;
  width: 78px;
  height: 63px;
  background-position: -10px -10px;
}

.promo .promo-title {
  margin: 0;
  margin-bottom: 13px;
  padding-top: 20px;
  padding-left: 22px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #ffffff;
  text-transform: none;
}

.promo .btn-promo {
  margin-left: 24px;
  margin-bottom: 22px;
  min-width: 115px;
  background: #000000;
  background: rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.promo .btn-promo:hover {
  background: rgba(0, 0, 0, 0.2);
}

.promo .btn-promo:active {
  background: rgba(0, 0, 0, 0.3);
}

.btn-catalog {
  margin-left: 24px;
  margin-bottom: 22px;
  min-width: 175px;
}

.btn-catalog:hover {
  background-color: #ca2c37;
}

.btn-catalog:active {
  background-color: #ba2732;
}

.popular-title {
  margin-bottom: 20px;
  background-color: #f7f3ec;
}

.popular-title h2 {
  float: left;
  margin: 0;
  padding: 25px 24px;
  padding-top: 30px;
  padding-left: 27px;
  max-width: 556px;

  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.popular-title a {
  float: right;
  width: 232px;
  margin: 26px 24px;
}

.popular-product-list,
.product-list {
  font-size: 0;
}

.product-list {
  margin-bottom: 30px;
}

.sort {
  margin-bottom: 18px;
  padding: 12px 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #f7f3ec;
}

.sort-title {
  box-sizing: border-box;
  float: left;
  width: 220px;
  margin-right: 20px;
  padding-left: 16px;
}

.sort-type {
  float: left;
  width: 380px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.sort-type li {
  display: inline-block;
  vertical-align: top;
  padding: 0 34px;
  font-size: 13px;
  line-height: 18px;
}

.sort-type a {
  display: block;
  font: inherit;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 1px dotted #ee3643;
}

.sort-type a:hover {
  color: #000000;
  border-bottom: 1px solid #ee3643;
}

.sort-type li:first-child {
  padding-left: 0;
}

.sort-type li:last-child {
  padding-right: 25px;
}

.sort-order {
  float: right;
  width: 60px;

  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.sort-order li {
  display: inline-block;
  vertical-align: top;
}

.sort-order a {
  position: relative;
  display: block;
  width: 30px;
  padding: 0;
  color: rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

.sort-order a::before {
  font-size: 23px;
  line-height: 20px;
  margin-top: -2px;
  margin-left: -6px;
}

.sort-order a:hover::before {
  color: #000000;
}

.sort-type .active-sort-item,
.sort-order .active-sort-item::before,
.sort-type .active-sort-item:hover,
.sort-order .active-sort-item:hover::before {
  color: #ee3643;
  border: none;
}

.product {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 20px;
  border: 1px solid #e5e5e5;
}

.product-index:nth-child(4n) {
  margin-right: 0;
}

.product-catalog:nth-child(3n) {
  margin-right: 0;
}

.product .flag,
.promo-item .flag {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.product .flag {
  top: -1px;
  right: -1px;
}

.product .flag-new,
.promo-item .flag-new {
  background: url("../img/sprite.png") no-repeat 0 0;
  width: 60px;
  height: 59px;
  background-position: -10px -185px;
}

.product .image {
  width: 218px;
  height: 177px;
}

.product img {
  max-width: 100%;
}

.product .product-title {
  min-height: 40px;
  margin: 0;
  margin-bottom: 13px;
  padding: 0 25px;
  font: inherit;
  color: inherit;
}

.product-title a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}

.product .product-name,
.product .product-type {
  display: block;
}

.product .old-price {
  min-height: 18px;
  margin-top: 12px;
  margin-bottom: 10px;
  color: #999999;
  text-decoration: line-through;
  font-size: 17px;
  line-height: 18px;
}

.product .price {
  position: relative;
  width: 82px;
  margin: 10px auto;
  margin-bottom: 20px;
  padding: 10px 30px;
  color: #ffffff;
  background-color: #ee3643;
  font-size: 17px;
  line-height: 18px;
  border-radius: 3px;
}

.product .price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: transparent;
}

.product .actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 97px;
  padding: 40px 0;
  padding-top: 43px;
  background-color: #ffffff;
  z-index: 10;
}

.product .buy,
.product .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-family: "Cuprum", "Arial", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.product .bookmark {
  background-color: #ffffff;
  color: #32425c;
  border-bottom-color: #63a63e;
}

.product .buy {
  position: relative;
}

.product .buy:hover {
  background-color: #5fbb2d;
}

.product .buy:active {
  background-color: #518534;
}

.product .bookmark:hover {
  border-color: #32425c;
}

.product .bookmark:active {
  border-color: #c1c6ce;
  color: rgba(50, 66, 92, 0.3);
}

.product .buy::before {
  font-family: "symbols-technomart";
  content: "\62";
  font-size: 17px;
  line-height: 18px;
  position: absolute;
  left: 12px;
  color: #ffffff;
  text-transform: none;
  opacity: 0.3;
}

.product .buy:hover::before {
  opacity: 1;
}

.product .buy:active::before {
  opacity: 1;
}

.product:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.product:hover .actions {
  display: block;
}

.pagination {
  margin: 0;
  margin-bottom: 58px;
  padding: 0;
  white-space: nowrap;
  background-color: #ffffff;

  list-style: none;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 0;
}

.pagination li {
  display: inline-block;
  vertical-align: top;
  margin-right: 9px;
}

.pagination a {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  height: 39px;
  line-height: 29px;
  min-width: 39px;
  padding: 5px 5px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #ffffff;
  color: #000000;
  font-size: 13px;
}

.pagination .prev-btn-page,
.pagination .next-btn-page {
  min-width: 140px;
}

.pagination li:first-child {
  display: none;
}


.pagination .current,
.pagination .current:hover,
.pagination .current:active {
  background-color: #ee3643;
  border-color: #ee3643;
  color: #ffffff;
}

.pagination a:hover {
  border-color: #bdc6ca;
}

.pagination a:active {
  border-color: #ee3643;
}

.producers-popular {
  margin-bottom: 67px;
}

.producers-list {
  font-size: 0;
}

.producer {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 218px;
  height: 143px;
  font-size: 14px;
  margin-bottom: 20px;
  margin-right: 20px;

  border: 1px solid #e7e7e7;
}

.producer:hover {
  box-shadow: 0 10px 25px rgba(41, 52, 73, 0.5);
}

.producer img {
  position: absolute;
  line-height: 0;
  max-width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.producer:active {
  box-shadow: 0 4px 10px rgba(41, 52, 73, 0.5);
}

.producer:active img {
  opacity: 0.3;
}

.producer:nth-child(4n) {
  margin-right: 0;
}

.wrapper-services {
  width: 940px;
  margin: 0 auto;
  padding: 0 30px;
}

.wrapper-services:before {
  background-image: url("../img/services-guarantee.png");
  background-repeat: no-repeat;
  background-position: 588px 238px;
}

.wrapper-services:after {
  background-image: url("../img/services-credit.png");
  background-repeat: no-repeat;
  background-position: 532px 238px;
}

.services {
  background-color: #f2f6f8;
  margin-bottom: 75px;
}

.services-slider {
  position: relative;
  width: 940px;
  height: 284px;
  background-color: transparent;
}

.services-slider-controls {
  position: relative;
  float: left;
  width: 240px;
}

.services-slider-controls:after {
  position: absolute;
  content: "";
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 272px;
  background-position: -10px -349px;
  top: 0;
  right: 0;
  margin-top: -42px;
}

.services-slider label {
  display: block;
  vertical-align: top;
  min-width: 6px;
  padding: 16px 22px;
  padding-bottom: 18px;

  background-color: #32425c;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 21px;
  line-height: 120%;
  border-top: 1px solid #405069;
  border-bottom: 1px solid #293449;
  cursor: pointer;
}

.services-slider label:hover {
  background-color: #293449;
  color: #ffffff;
}

.services input[type="radio"] {
  display: none;
}

.services-slides {
  position: relative;
  float: right;
  width: 620px;
  background-color: transparent;
}

.services-slide {
  position: absolute;
  display: none;
  width: 640px;
  height: 284px;
  top: 0;
  left: 0;
  overflow: hidden;
  background-color: transparent;
}

#services-btn-1:checked ~ .wrapper-services .services-slide:nth-child(1),
#services-btn-2:checked ~ .wrapper-services .services-slide:nth-child(2),
#services-btn-3:checked ~ .wrapper-services .services-slide:nth-child(3) {
  display: block;
}

.services-title {
  margin: 0;
  margin-bottom: 20px;
  padding-top: 65px;
  font-size: 30px;
  line-height: 24px;
}

.services-info {
  width: 400px;
  margin: 0;
  margin-bottom: 58px;
  padding: 10px 0;
}

.services-slide-title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 34px;
  color: #32425c;
  text-transform: uppercase;
}

.services-slide-description {
  margin: 0;
  margin-bottom: 26px;
  color: #000000;
}

.services-slide:nth-child(1) .services-slide-title,
.services-slide:nth-child(1) .services-slide-description {
  padding-right: 80px;
  max-width: 300px;
}

.services-slide:nth-child(2) .services-slide-title,
.services-slide:nth-child(2) .services-slide-description {
  padding-right: 80px;
  max-width: 380px;
}

.services-slide:nth-child(3) .services-slide-title,
.services-slide:nth-child(3) .services-slide-description {
  padding-right: 80px;
  max-width: 300px;
}

.services-slide:nth-child(3) .btn-request {
  padding-left: 44px;
  padding-right: 44px;
}

#services-btn-1:checked ~ .wrapper-services label[for="services-btn-1"],
#services-btn-2:checked ~ .wrapper-services label[for="services-btn-2"],
#services-btn-3:checked ~ .wrapper-services label[for="services-btn-3"] {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #32425c;
}

#services-btn-1:checked ~ .wrapper-services {
  background-color: transparent;

  background-image: url("../img/services-delivery.png");
  background-repeat: no-repeat;
  background-position: 502px 260px;
  color: #000000;
}

#services-btn-2:checked ~ .wrapper-services {
  background-color: transparent;
  background-image: url("../img/services-guarantee.png");
  background-repeat: no-repeat;
  background-position: 588px 236px;
  color: #000000;
}

#services-btn-3:checked ~ .wrapper-services {
  background-color: transparent;
  background-image: url("../img/services-credit.png");
  background-repeat: no-repeat;
  background-position: 532px 236px;
  color: #000000;
}

.company-features {
  float: left;
  width: 540px;
}

.company-features-title {
  margin: 0;
  margin-bottom: 25px;
  font-size: 30px;
  line-height: 120%;
}

.company-features-item {
  margin: 0;
  margin-bottom: 24px;
  width: 540px;
  padding-right: 20px;
}

.company-features-item:last-of-type {
  width: 390px;
  margin-bottom: 20px;
}

.delivery-company-list {
  margin: 0;
  margin-bottom: 16px;
  padding: 0;
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
}

.delivery-company-list li {
  position: relative;
  padding-left: 35px;
  padding-bottom: 20px;
}

.delivery-company-list li:before {
  position: absolute;
  content:"";
  width: 25px;
  height: 2px;
  background-color: #fb565a;
  top: 25%;
  left: 0;
  margin-top: -1px;
}

.btn-company {
  width: 200px;
}

.contacts {
  float: right;
  width: 300px;
  padding-left: 20px;
}

.contacts-title {
  margin: 0;
  margin-bottom: 30px;
  padding-top: 6px;
  font-size: 30px;
  line-height: 24px;
}

.contacts-info {
 margin: 0;
 margin-bottom: 31px;
 padding-right: 40px;
 width: 180px;
}

.map {
  margin-bottom: 40px;
  width: 300px;
  height: 158px;
  background-color: #f1efe8;
}

.map img {
  width: 100%;
}

.btn-write-us {
  width: 280px;
}

.page-title {
  margin: 0;
  margin-bottom: 20px;
  padding: 28px 28px;

  background-color: #f2f6f8;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.breadcrumbs li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-left: 9px;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs li:first-child {
  padding-left: 0;
}

.breadcrumbs a {
  display: block;
  padding: 21px 17px;
  font: inherit;
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  outline: none;
}

.breadcrumbs-index a {
  padding-left: 0;
  padding-right: 10px;
}

.breadcrumbs li:nth-child(n+2)::before {
  font-family: "symbols-technomart";
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  color: #c1c6ce;
  left: 0;
  top: 50%;
  margin-top: -10px;
  content: "\3e";
}

.icon-home::before {
  font-size: 16px;
  color: #c1c6ce;
  content: "\1f3e0";
  left: 0;
  margin-left: 0;
}

.filter-block {
  float: left;
  width: 220px;
}

.filter-results {
  float: right;
  width: 700px;
}

.form-title {
  margin-bottom: 20px;
  padding: 12px 16px;

  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec;
  color: #000000;
}

.filter-block fieldset {
  position: relative;
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  padding-top: 32px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-block .product-type-block,
.filter-block .brands-block {
  padding-top: 30px;
  padding-bottom: 2px;
}

.filter-block legend {
  position: absolute;
  display: block;
  top: -13px;
  left: 0;
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 9px;
  padding: 0 20px;
  background-color: #f7f3ec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.range-controls .scale {
  margin-top: 39px;
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  height: 2px;
  width: 150px;
  background-color: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 0 0 rgba(0, 1, 1, 0.14);
  cursor: pointer;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  margin-bottom: 26px;
  font-size: 0;
}

.price-controls input {
  padding: 10px 10px;
  width: 75px;
  border: none;
  border-radius: 3px;
  outline: none;
  background-color: #f7f3ec;
  font: inherit;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}

.price-controls span {
  display: inline-block;
  vertical-align: top;
  padding: 10px 12px;
  padding-left: 8px;
  width: 10px;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
}

.filter-block fieldset:last-of-type {
  margin-bottom: 56px;
}

.brands-block input[type="checkbox"],
.product-type-block input[type="radio"] {
  display: none;
}

.filter-item + label {
  position: relative;
  display: block;
  margin: 10px 0;
  margin-bottom: 20px;
  padding-left: 33px;
  line-height: 20px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}

.filter-item:first-of-type + label {
  margin-top: 0;
}

.filter-item + label::before,
.filter-item + label::after {
  position: absolute;
  top: 2px;
  left: 0;
  font-family: "symbols-technomart";
  font-size: 28px;
  line-height: 20px;
  color: #c1c1c1;
}

.filter-item + label:hover::before,
.filter-item + label:hover::after {
  color: #b5b5b5;
}

.filter-item:disabled + label,
.filter-item:disabled + label {
  opacity: 0.4;
  cursor: default;
}

.filter-item[type="checkbox"] + label::before {
  content: "\2610";
}

.filter-item[type="checkbox"]:checked + label::after {
  content: "\2611";
}

.filter-item[type="radio"] + label::before {
  content: "\25cb";
}

.filter-item[type="radio"]:checked + label::after {
  content: "\25cf";
}

.filter-block .btn-filter {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: top;
  min-width: 140px;
  padding: 9px 20px;
  text-align: center;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
}

.catalog-info {
  border-bottom: 1px solid transparent;
  background-color: #f2f6f8;
}

.catalog-info-title {
  margin: 0;
  padding-top: 70px;
  font-size: 30px;
  line-height: 24px;
}

.catalog-info-text {
  margin: 28px 0;
  margin-bottom: 68px;
}

.company-info {
  margin-bottom: 20px;
}

.main-footer {
  background-color: #32425c;
  color: #f1f5f7;
  font-family: "Cuprum", "Arial", sans-serif;
}

.main-footer-index {
  margin-top: 87px;
}

.main-footer .logo {
  margin-right: 0;
  padding: 17px 10px;
  text-align: center;
  font-size: 30px;
  line-height: 30px;
}

.footer-navigation {
  float: right;
  max-width: 700px;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.footer-navigation li {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation a {
  display: block;
  padding: 38px 29px;
  padding-bottom: 5px;
  font: inherit;
  color: #f1f5f7;
  text-decoration: none;
}

.footer-navigation-item:last-child a {
  padding-right: 0;
}

.main-footer .top-container {
  margin-bottom: 23px;
}

.footer-bottom-bar {
  background-color: #293449;
  color: #ffffff;
}

.footer-contacts {
  float: left;
  width: 380px;
  margin: 5px 0;
  padding-left: 2px;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation-additional {
  float: right;
  width: 540px;
  margin: 5px 0;
  padding: 0;
  max-width: 540px;
  list-style: none;
  font-size: 0;
}

.footer-navigation-additional li {
  display: inline-block;
  vertical-align: top;
  font-size: 18px;
  line-height: 24px;
}

.footer-navigation-additional a {
  display: block;
  padding: 0 29px;
  padding-bottom: 20px;
  font: inherit;
  color: #ffd180;
  text-decoration: none;
}

.footer-navigation-additional-item:last-child a {
  padding-right: 0;
}

.footer-navigation-additional-item:first-child a {
  padding-left: 15px;
}

.footer-navigation a:hover,
.footer-navigation-additional a:hover {
  text-decoration: underline;
}

.footer-navigation a:active,
.footer-navigation-additional a:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer .bottom-container {
  margin-bottom: 45px;
}

.main-footer  .footer-bottom-bar {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.footer-company,
.footer-social {
  box-sizing: border-box;
  float: left;
  width: 300px;
  margin-right: 20px;
}

.footer-social {
  padding-right: 32px;
  text-align: center;
  font-size: 0;
}

.footer-company p {
  margin: 36px 0;
}

.footer-info {
  box-sizing: border-box;
  float: left;
  max-width: 140px;
  margin: 36px 0;
  margin-right: 20px;
}

.footer-info:last-child {
  margin-right: 0;
}

.footer-designed {
  padding-left: 30px;
}

.footer-info-text {
  text-decoration: none;
  color: #ffd180;
}

.footer-info-text:hover {
  text-decoration: underline;
}

.footer-info-text:active {
  text-decoration: none;
  color: #ee3643;
}

.social-btn {
  position: relative;
  margin: 35px 5px;
  margin-right: 0;
  padding: 0;
  width: 41px;
  height: 41px;
  border-radius: 50%;
  background-color: #212a3a;
  text-transform: none;
  color: #ffffff;
  text-align: center;
}

.social-btn:hover,
.social-btn:active {
  background-color: #ee3643;
  color: #ffffff;
}

.social-btn:before {
  position: absolute;
  font-family: "symbols-technomart";
  font-size: 18px;
  line-height: 11px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social-btn-vk:before {
  content: "\76";
}

.social-btn-fb:before {
  content: "\66";
}

.social-btn-inst:before {
  content: "\1f4f7";
}

.form-write-us .column {
  float: left;
  width: 220px;
  margin-right: 20px;
}

.form-write-us .column:last-child {
  margin-right: 0;
}

.form-write-us label {
  display: block;
}
